html,
body{
    width: 100%;
    height: 100%;
}


.logo h3{
    font-size: 1rem;
}

.form-login{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 3;
    background: url(asset/nusantara\ \(2\).png);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size:100%;
}

.kiri{
    width: 40%;
    background-color: white;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.kanan{
    width: 40%;
    background: rgb(37,114,204);
    background: linear-gradient(180deg, rgba(37,114,204,1) 50%, rgba(81,156,244,1) 100%);
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.desc>img{
    margin: 45% auto auto auto;
    display: block;
    position: relative;
    z-index: 2;
    top: -150px;
}


.half{
    width: 30%;
    transform: rotate(20deg);
    /* position: relative; */
    float: right;
    margin: -300px auto;
    /* z-index: 2; */
    padding-right: -100px;
} 

.garis{
    display: flex;
    justify-content: center;
}

.garis p{
    margin: auto 0;
    color: #9B9B9B;
}

.garis-kiri, .garis-kanan{
    width: 30%;
    height: 1px;
    background-color: #9B9B9B;
    margin: auto;
}